SceneEditor/Schemas/bitBox.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema
  elementFormDefault="qualified"
  targetNamespace="bitBox"
	xmlns="bitBox"
  xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:include schemaLocation="types.xsd"/>
  <xs:include schemaLocation="engine_nodes_schema.xsd"/>
    
  <xs:complexType name="graphType">    
    <xs:sequence>
      <xs:element name="node" type="nodeType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attribute name="name" type="xs:string"/>
  </xs:complexType>
  
  <xs:element name="scene" type="graphType"/>
  
  <!--END Format Schema -->
</xs:schema>
